body {
	margin-left: 0;
}

.footer {
	height: 100px;
	background-color: #333;
	color: whitesmoke;
	margin-top: 190px;
	margin-bottom: 45px;
	text-align: center;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center; 
}